@if (isLoginPage) {
  <router-outlet />
} @else {
  <mat-sidenav-container class="app-container">

    <mat-sidenav mode="side" opened class="sidenav">
      <div class="sidenav-header">
        <mat-icon>store</mat-icon>
        <span>Comic Store</span>
      </div>
      <mat-nav-list>
        @for (item of navItems; track item.route) {
          <a mat-list-item [routerLink]="item.route" routerLinkActive="active-link">
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span matListItemTitle>{{ item.label }}</span>
          </a>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary" class="toolbar">
        <span>Comic Store</span>
        <span class="spacer"></span>
        <span class="username">{{ auth.username() }}</span>
        <button mat-icon-button (click)="auth.logout()" title="Sign out">
          <mat-icon>logout</mat-icon>
        </button>
      </mat-toolbar>
      <div class="content-area">
        <router-outlet />
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
}
