# Maven
comic-store/comic-store/target/

# Angular
comic-store-ui/node_modules/
comic-store-ui/dist/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Scratch files from previous AWS setup
cf-current.json
cf-distribution.json
cf-updated.json
tg-matcher.json
tg-matcher2.json
